@using PlayByPlayParser.Models

<table class="table">
    <thead>
        <tr>
        @foreach(string header in headers)
        {
            <th>@header</th>
        }
        </tr>
    </thead>
    
    <tbody>
    @foreach(Play play in PlayList)
    {
        <tr
            @onmouseover="OnPlaySelected">
            <td>@play.PlayIndex</td>
            <td>@play.Quarter</td>
            <td>@play.Time</td>
            <td>@play.Down</td>
            <td>@play.ToGo</td>
            <td>@play.Location</td>
            <td>@play.Summary</td>
        </tr>
    }
    </tbody>
</table>

@code {
    private string[] headers = { "Play", "Quarter", "Time", "Down", "To Go", "Location", "Summary" };

    [Parameter]
    public List<Play>? PlayList { get; set; }

    [Parameter]


    public Task OnPlaySelected(ChangeEventArgs e)
    {
        
    }
}
